---
import Layout from "../layouts/Layout.astro";
import StarterPage from "../components/starter-page.astro";
---

<Layout>
    <main class="main">
        <StarterPage
            title="Logiciel de gestion de chantier BTP"
            description="Pilotez vos projets de construction efficacement"
        />
    </main>
</Layout>
