---
import Layout from "../layouts/Layout.astro";
---
<Layout>

<div class="page-title">
    <div class="container position-relative">
        <h1>Qui sommes-nous ?</h1>
        <nav class="breadcrumbs">
            <ol>
                <li>
                    <a href="/"
                        >Solutions logicielles de gestion pour entreprises au
                        Maroc</a
                    >
                </li>
                <li class="current">Qui sommes-nous</li>
            </ol>
        </nav>
    </div>
</div>

<section id="service-details" class="service-details section">
    <div class="container">
        <div class="row gy-5">
            <div class="col-md-12"></div>
        </div>
    </div>
</section>
</Layout>