<section id="contact" class="contact section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <p>
      Écrivez-nous ou appelez-nous, nous sommes là pour répondre à vos questions
      et accompagner vos projets.
    </p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-4 g-lg-5">
      <div class="col-lg-5">
        <div class="info-box" data-aos="fade-up" data-aos-delay="200">
          <h3>Restons en contact !</h3>
          <p>
            Pour toute question ou demande, contactez-nous directement par <b
              >email</b
            > ou <b>téléphone</b>. Notre équipe se fera un plaisir de vous
            répondre rapidement et de vous accompagner dans vos projets.
          </p>

          <div class="info-item" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-geo-alt"></i>
            </div>
            <div class="content">
              <h4>Our Location</h4>
              <p>A108 Adam Street</p>
              <p>New York, NY 535022</p>
            </div>
          </div>

          <div class="info-item" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-telephone"></i>
            </div>
            <div class="content">
              <h4>Numéro de téléphone</h4>
              <p>
                <a
                  href="tel:+212671884968"
                  class="text-white text-decoration-none hover:text-gray-300"
                  aria-label="Call us at +212 6 71 88 49 68"
                >
                  +212 6 71 88 49 68
                </a>
              </p>
              <p>
                <a
                  href="tel:+212539914539"
                  class="text-white text-decoration-none hover:text-gray-300"
                  aria-label="Call us at +212 5 39 91 45 39"
                >
                  +212 5 39 91 45 39
                </a>
              </p>
            </div>
          </div>

          <div class="info-item" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi bi-envelope"></i>
            </div>
            <div class="content">
              <h4>Adresse email</h4>
              <p>
                <a
                  href="https://mail.google.com/mail/?view=cm&fs=1&to=contact@brosmedia.ma"
                  target="_blank"
                  class="text-white text-decoration-none hover:text-gray-300"
                  aria-label="Email us at contact@brosmedia.ma"
                  data-astro-cid-sz7xmlte=""
                >
                  contact@brosmedia.ma
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
          <h3>Envie de développer ou d’acquérir votre application ?</h3>
          <p>
            Remplissez le formulaire ci-dessous et notre équipe vous recontactera rapidement. Ensemble, concrétisons vos projets digitaux et optimisons votre gestion !
          </p>

          <form
          action="forms/contact.php"
          method="post"
          class="php-email-form"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="row gy-4">
            <div class="col-md-6">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Votre nom"
                required
              />
            </div>
        
            <div class="col-md-6">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Votre email"
                required
              />
            </div>
        
            <div class="col-md-6">
              <input
                type="tel"
                class="form-control"
                name="phone"
                placeholder="Votre téléphone"
                required
              />
            </div>
        
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                name="subject"
                placeholder="Objet"
                required
              />
            </div>
        
            <div class="col-12">
              <textarea
                class="form-control"
                name="message"
                rows="6"
                placeholder="Votre message"
                required
              ></textarea>
            </div>
        
            <div class="col-12 text-center">
              <div class="loading">Envoi en cours</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Votre message a été envoyé. Merci !
              </div>
        
              <button type="submit" class="btn">Envoyer le message</button>
            </div>
          </div>
        </form>
        
        </div>
      </div>
    </div>
  </div>
</section>
