---
const features = [
  {
    title: "Capacités Avancées",
    description:
      "Exploitez des fonctionnalités de pointe conçues pour évoluer avec votre entreprise.",
    list: ["Efficacité accrue", "Scalabilité fluide"],
    icon: "bi-lightning-charge",
  },
  {
    title: "Intégrations Intelligentes",
    description:
      "Connectez vos outils favoris et centralisez toutes vos données au même endroit.",
    list: ["Données unifiées", "Opérations plus rapides"],
    icon: "bi-diagram-3",
  },
  {
    title: "Analyses en Temps Réel",
    description:
      "Obtenez des insights instantanés grâce à des tableaux de bord et rapports en direct.",
    list: ["Décisions basées sur les données", "Meilleures prévisions"],
    icon: "bi-graph-up-arrow",
  },
  {
    title: "Sécurité et Fiabilité",
    description:
      "Protégez vos données avec une sécurité de niveau entreprise et une haute disponibilité.",
    list: ["Protection des données", "Disponibilité garantie"],
    icon: "bi-shield-lock",
  },
];
---

<section id="features" class="features section">
  <!-- Section Title -->
  <div class="container section-title" style="padding-bottom: 0;">
    <h2>Fonctionnalités clés</h2>
    <p>
     Découvrez nos atouts pour optimiser vos processus et garantir votre succès.
    </p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div
      class="advanced-features-section"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="row g-4">
        {
          features.map((feature, key) => (
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="300">
              <div class="advanced-feature-card">
                <div class="feature-header">
                  <div class="feature-number">
                    {String(key + 1).padStart(2, "0")}
                  </div>
                </div>
                <div class="feature-content">
                  <h5> {feature.title}</h5>
                  <p>{feature.description}</p>
                  <ul class="feature-benefits">
                    {feature.list.map((item) => (
                      <li>
                        <i class="bi bi-check-circle" /> {item}
                      </li>
                    ))}
                  </ul>
                </div>
                <div class="feature-icon-bg">
                  <i class=`bi ${feature.icon}` />
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>