<section id="why-us" style="position: relative; height: 200vh; overflow: hidden;">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Why Us</h2>
    <p>
      Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
      consectetur velit
    </p>
  </div><!-- End Section Title -->


    <div class="design-container" id="designContainer"></div>
    <div class="fake-scroll"></div>
</section>

<script src="../../../public/js/why-us.js"></script>
