<section id="why-us" style="position: relative;">
  <div class="container section-title" data-aos="fade-up">
    <h2>Pourquoi choisir BrosMedia</h2>
  </div>

  <div class="design-container" id="designContainer"></div>   
</section>

<script src="../../../public/js/why-us.js"></script>
