<header id="header" class="header d-flex align-items-center sticky-top">
    <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
    >
        <a href="/" class="logo d-flex align-items-center me-auto">
            <img
                src="/img/Logo-brosmedia-png.webp"
                alt="BROSMEDIA - Agence De Communication Digitale Au Maroc"
            />
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/" class="active">Accueil</a></li>
                <li class="dropdown">
                    <a href="#">
                        <span>Solutions</span>
                        <i class="bi bi-chevron-down toggle-dropdown"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/logiciel-de-gestion-de-chantier-btp"
                                >Logiciel de gestion de chantier BTP</a
                            >
                        </li>
                        <li>
                            <a href="/logiciel-de-gestion-commerciale"
                                >Logiciel de gestion commerciale</a
                            >
                        </li>
                        <li>
                            <a href="/logiciel-de-reservation-hoteliere"
                                >Logiciel de réservation hôtelière</a
                            >
                        </li>
                        <li>
                            <a href="/logiciel-de-gestion-de-club-sportif"
                                >Logiciel de gestion de club sportif</a
                            >
                        </li>
                        <li>
                            <a href="/logiciel-de-gestion-de-facturation"
                                >Logiciel de gestion de facturation</a
                            >
                        </li>
                    </ul>
                </li>
                <li><a href="/qui-sommes-nous">Qui sommes-nous ?</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="/contact">Contact</a>
    </div>
</header>
