

  <main class="main">

   

   

    <!-- About Section -->
   <!-- /About Section -->

    <!-- Stats Section -->
   <!-- /Stats Section -->

    <!-- Services Section -->
    <!-- /Services Section -->

    <!-- Alt Services Section -->
   <!-- /Alt Services Section -->

    <!-- Features Section -->
   <!-- /Features Section -->

    <!-- Why Us Section -->
   <!-- /Why Us Section -->

    <!-- Call To Action Section -->
    <!-- /Call To Action Section -->



    <!-- Pricing Section -->
    <!-- /Pricing Section -->

    <!-- Faq Section -->
    <!-- /Faq Section -->

    <!-- Team Section -->
    <!-- /Team Section -->

    <!-- Contact Section -->
    <!-- /Contact Section -->

  </main>

  

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>