---
// import "bootstrap/dist/css/bootstrap.min.css";
// import "bootstrap-icons/font/bootstrap-icons.css";
// import "aos/dist/aos.css";
// import "swiper/css";
// import "swiper/css/navigation";
// import "swiper/css/pagination";

// JS libraries
// import "bootstrap/dist/js/bootstrap.bundle.min.js";
// import AOS from "aos";
// import PureCounter from "@srexi/purecounterjs";
import "../../public/styles/main.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />

		<script src="../../public/scripts/libs.js"></script>
		<script src="../../public/scripts/main.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
